#表示忽略项目中所有以.log结尾的文件
*.log 

#表示忽略项目中所有以123加任意字符的文件
123?.log 

#表示忽略项目中根目录中的error.log 这个文件
/error.log 

#表示忽略/src/main/test/目录下的所有文件
src/main/test/* 
*.class

# 匹配所有java目录下的所有文件
**/java/

#表示在之前的匹配规则下，被命中的文件，可以使用!对前面的规则进行否定
!/error.log 